.card {
    margin: auto;
    margin-top: 60px;
}

.box {
    margin-top: 30px;

    text-align: center;
}

.Follower {
    width: 40%;
    padding: 5px;
    margin-top: 15px;
}

.border {
    margin-top: 15px;
}